// Colors
$primary-color: #2F0B4D;
$secondary-color: #684A92;
$back-color: #DBDBFF;
$light-color: #FFFFE7;
$info-color: #F7FFAE;

// Transition
$transition: all 0.3s ease-in-out;

// Typography
$font-regular: "YRegular", sans-serif;
$font-medium: "YMedium", sans-serif;
$font-bold: "YSemiBold", sans-serif;
