.Popup {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 10000;

  &--list {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    min-height: auto;
    width: max-content;
    left: unset;
  }
  
  &__container {
    width: 600px;
    max-width: 90%;
    background-color: $back-color;
    box-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5);
    border-radius: 20px;
    padding: 40px 24px;

    .Popup--list & {
      width: 188px;
      padding: 16px;
    }
  }
}