@font-face {
  font-family: "YMedium";
  src: url('../../fonts/yaldevi.colombo-medium.ttf');;
}

@font-face {
  font-family: "YRegular";
  src: url('../../fonts/yaldevi.colombo-regular.ttf');;
}

@font-face {
  font-family: "YSemiBold";
  src: url('../../fonts/yaldevi.colombo-semibold.ttf');;
}